body {
    font-family: Arial, sans-serif;
    background-image: url('images/1761643004601[1].jpg');
    margin: 0;
    padding: 0;
    text-align: center;


}

header {

    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: tomato;
}

img {

    border-radius: 75px;
    width: 700px;
}

.slider {
    width: 80%;
    max-width: 800px;
    height: 300px;
    overflow: hidden;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 12px;

}

.slides {
    display: flex;
    transition: transform 0.9s ease-in-out;
    width: 200;
    animation: slideAnimation 5s infinite;
}

.slides img {
    width: 250px;
    border-radius: 20px;
    object-fit: cover;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(0);
    }

}

.about {
    background-color: #1a8bb8;
    color: white;
    padding: 40px 20px;
    margin: 40px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about h2 {
    margin-top: 0;
    padding-bottom: 2px solid white;
    display: inline-block;
    color: tomato;
}

.contact {
    background-color: #1a8bb8;

    color: white;
    padding: 20px 0;
    margin-top: 40px;
    border-top: 2px solid #d4af37
}


.contact h2 {
    margin-bottom: 10px;
    color: tomato;
}

.contact p {
    color: #555;
    margin-bottom: 25px;

}

.contact a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.contact a:hover {
    text-decoration: underline;
}

footer {
    background-color: #383e41;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 2px solid #d4af37
}

footer p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
}